html, body{
    padding: 0;
    margin: 0;
}

.page{
    position: relative;
    height: 100vh;
    width: 100%;  
}

.center
{
    position: relative;
    display: flex;        
    justify-content: center;
    align-items: center;
}