html, body{
    padding: 0;
    margin: 0;
}

.page{
    position: relative;
    height: 100vh;
    width: 100%;
}

.center
{    
    display: flex;  
    flex-direction: column;    
    justify-content: center;
    align-items: center;    
}