.general-navbar{ 
    
    /* start : responsive */
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    /* start : responsive */

    position: relative;    

    top: 0;

    height: 15vh;
    width: 100%;

    background: black;     

    /* start : smooth animation */
    transition: .5s font-size ease-in-out;
    /* end : smooth animation */
}
.general-navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

    width: 100%;    
}
.general-navbar ul li{  
    float: left;
}
.general-navbar ul li a{    
    display: flex;
    justify-content: center;
    align-items: center; 
    
    color: white;

    text-decoration: none;
    padding: 6.1vh 10px;    
}
.general-navbar ul li a:hover{
    color: black;
    background: white;
}


@media all and (max-width: 800px)
{
    .general-navbar{
        font-size: 11px;
    }
    .general-navbar ul li a{
        padding: 6.5vh 10px;
    }
}
