.general-navbar{    
    position: absolute;    

    top: 0;

    height: 15vh;
    width: 100%;

    background: black; 

    z-index: 1000;    
}
.general-navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

    width: 100%;    
}
.general-navbar ul li{  
    float: left;
}
.general-navbar ul li a{    
    display: flex;
    justify-content: center;
    align-items: center; 
    
    color: white;

    text-decoration: none;
    padding: 6.1vh 10px;    
}
.general-navbar ul li a:hover{
    color: black;
    background: white;
}

