.page{
    display: grid;
    grid-gap: 20px;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 1fr 1fr 1fr;  
}
textarea{
    position: relative;
    top: 5vh;
    height: 25rem;
    overflow: scroll;  
}

textarea:nth-child(1){
    grid-column: 3 span;
}