.page{    
    background: burlywood;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.div{    
    height: 230px;
    width: 230px;
    border: 1px solid black;
    border-radius: 8px;

    /* center element */
    display: flex;
    justify-content: center;
    align-items: center;
}

.div:nth-child(2)
{
    position: relative;
    top: -90px;
}
.div:nth-child(3)
{
    position: relative;
    top: 150px;
}