.parent{
    background: yellow;
    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: .5rem;
}
.child{
    height: 200px;
    width: 200px;
    background: blue;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    
    transition: .5 height ease-in-out, .5 width ease-in-out;
}

.child a{
    color: white;
    text-decoration: none;
}

/* Smooth animation while shrinking */
.page h1{
    transition: .5s font-size ease-in-out;
}

@media all and (max-width: 1100px){
    .child{
        height: 150px;
        width: 150px;
    }
    .page h1 {
        font-size: 20px;
    }
}

