#navbar-icon-open i{
    position: relative;
    top: 0;
    float: right;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px 100px;    

    background: black;
    
    color: white; 
    
    font-size: 20px;
}

.navbar-sliding{
    position: absolute;
    top: 0;
    right: 0;    

    overflow: hidden;

    /* height: 15vh; */
    height: 100%;
    width: 0;

    background: black;

    z-index: 100;

    transition: .5s width ease-in-out;
}
.navbar-sliding ul{    
    list-style-type: none;
    margin: 0;
    padding: 0;

    width: 100%;       
}
.navbar-sliding ul li{  
    float: left;
    left: 0;
    white-space: nowrap;
}
.navbar-sliding ul li#navbar-icon-close i{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;

    text-decoration: none;
    padding: 40px 105px;    
    
    transition: .25s font-size ease-in-out;
}
.navbar-sliding ul li a{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;

    text-decoration: none;
    padding: 40px 80px;
    
    transition: .25s font-size ease-in-out;
}

.navbar-sliding ul li a:hover, .navbar-sliding ul li#navbar-icon-close i:hover{
    font-size: 18px;
    background: green;
}

/* fa-active */
.fa-color-active{
    color: greenyellow !important;    
}
.expand-navbar{
    width: 225px;
}
.unexpand-navbar{
    width: 0;
}
