.page{    
    background: green;
}

.parent-1st{
    position: relative;
    top: 5%;

    display: grid;
    column-gap: .2rem;
    grid-template-columns: 20% 1fr;

    height: 45%;
    width: 100%;
}

.parent-2nd{
    position: relative;
    top: 7%;

    display: grid;
    column-gap: .2rem;
    grid-template-columns: 20% 1fr 20%;

    height: 45%;
    width: 100%;
}

.child{
    background: burlywood;
    border-radius: 8px;
}
.child:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
}    
.child:nth-child(1) a{
    color: black;
    text-decoration: none; 
}