.parent{
    display: flex;
    /* gap: 1rem;
    flex-wrap: wrap; */

    background: yellow;
    height: 100vh;
    width: 100%;
}
.child{
    flex: 1 1 auto;
}
.child:nth-child(1){
    position: absolute;
    float: left;
    left: 0;    

    background: green;
    width: 50%;
    height: 50vh;
}
.child:nth-child(2){   
    position: absolute;
    float: right;
    right: 0;   
    background: blue;
    width: 50%;
    height: 50vh;
}
.child:nth-child(3){   
    position: absolute;
    bottom: 0;
    background: rebeccapurple;
    width: 100%;
    height: 50vh;
}