#right-slide{
    position: absolute;
    float: right;    
    right: 0;
    top: 0;
    height: 100vh;
    width: 0vw;    
    background: red;
    transition: .5s ease-in-out; 
    overflow: hidden;
}

#right-slide .card{
    position: absolute;
    float: right;    
    right: 0;
    top: 0;
    height: 100vh;
    width: 50vw;    
    background: blue;
    transition: background .5s .5s ease-out;
}


.right-slide-h1{
    position: absolute;
    float: left;
    top: 0;
    left: 0;
    margin: 0;
    background: black;
    color: white;
    padding: 20px 20px;
}


.right-slide-h1:hover ~ #right-slide{
    width: 50%;
    background: red !important;
}

.right-slide-h1:hover ~ #right-slide > .card{        
    background: transparent;
}

.right-slide-h1:not(:hover) ~ #right-slide{
    transition: 1s 1s ease-out; 
}


